@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:wght@300&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@300&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #5f6fff;
  --color-ink: #172033;
}

:root {
  font-family: Arial, sans-serif;
  color: #5e5e5e;
  background: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

button,
input {
  font: inherit;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  font-family: Outfit;
}
