@import "tailwindcss";

@theme {
  --color-primary: #5f6fff;
}

.active {
  color: #5f6fff !important;
}

.active hr {
  display: block !important;
  background-color: #5f6fff !important;
}

.active li {
  color: #5f6fff !important;
}
